<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>IF Clause</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        {%if nm%}
            <h1>Number={{nm}}</h1>
        {%endif%}
        {%if st%}
            <h1>Seats={{st}}</h1>
        {%endif%}
        {%if nm and st%}
            <h1>Number={{nm}}</h1>
            <h1>Seats={{st}}</h1>
        {%endif%}
        {%if nm or st%}
            <h1>Number={{nm}}</h1>
            <h1>Seats={{st}}</h1>
        {%endif%}
        {%if not nm%}
            <h1>No Numbers Available</h1>
        {%endif%}
        {%if not st%}
            <h1>No Seats Available</h1>
        {%endif%}
        {%if course == 'Django'%}
            <h1>We'll be studying {{course}}</h1>
        {%endif%}
    </body>
</html>